{% if page.fileSlug | fixFileSlug == "index" %}
    <footer id="footer-index">
        <section id="info">
            <article>
                <h4>COMITÉ NORUEGO DEL NOBEL</h4>
            </article>
            <article>
                <div>
                    <h4>Contáctanos</h4>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="mailto:secretariageneral@smmun.com">secretariageneral@smmun.com</a>
                        </li>
                        <li>
                            <a href="mailto:contacto@smmun.com">contacto@smmun.com</a>
                        </li>
                        <li>
                            <a href="mailto:secretariadefinanzas@smmun.com">secretariadefinanzas@smmun.com</a>
                        </li>
                        <li>
                            Para más contactos: <a target="_blank" rel="noreferrer noopener" href="https://bit.ly/4bHj52i">https://bit.ly/4bHj52i</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article id="conoce-smmun">
                <div>
                    <h4>Conoce al SMMUN</h4>
                </div>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial" aria-label="Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    &nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/smmunoficial" aria-label="Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
                    &nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="https://smmun.com" aria-label="Facebook"><i class="fa-solid fa-globe fa-xl"></i></a>
                </p>
            </article>
        </section>
        <section id="copyleft">
            <p>
                © 2024 Bruno Ancona
            </p>
        </section>
    </footer>
{% else %}
    <footer id="footer-normal">
        <section id="footer-head">
            <article>
                <h4>Acerca del Premio Nobel de la Paz</h4>
            </article>
        </section>
        <section id="footer-columns">
            <article>
                <div>
                    <h4>Creación</h4>
                </div>
                <p>
                    Alfred Nobel, estableció los Premios Nobel en su testamento de 1895, destinando su fortuna a  reconocer a “aquellas personas que habrán conferido el mayor beneficio a la humanidad”.
                </p>
            </article>
            <article>
                <div>
                    <h4>Comité Noruego del Nobel</h4>
                </div>
                <p>
                    Órgano financiado por la Fundación Nobel y creado en 1897 por el parlamento noruego, con la tarea de otorgar los Premios Nobel de la Paz.
                </p>
            </article>
            <article>
                <div>
                    <h4>Reconocimiento</h4>
                </div>
                <p>
                    Se otorga a quien “haya realizado el mejor trabajo en favor de la fraternidad entre las naciones, la reducción de los ejércitos existentes y la promoción de congresos de paz".
                </p>
            </article>
        </section>
        <section id="smmun-redes">
            <article>
                <div>
                    <h4>Conoce al SMMUN</h4>
                </div>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial" aria-label="Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    &nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/smmunoficial" aria-label="Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
                    &nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="https://smmun.com" aria-label="Facebook"><i class="fa-solid fa-globe fa-xl"></i></a>
                </p>
            </article>
        </section>
        <section id="footer-bottom">
            <p id="footer-comite">
                COMITÉ NORUEGO DEL NOBEL
            </p>
            <p id="footer-copyright">
                © 2024 Bruno Ancona
            </p>
        </section>
    </footer>
{% endif %}
