{% if page.fileSlug | fixFileSlug == "index" %}
    <header id="header-sides">
        <span>COMITÉ NORUEGO DEL NOBEL</span>
        <span>SMMUN 2025</span>
    </header>
{% else %}
    <header id="header-center">
        <span>COMITÉ NORUEGO</span>
        <span>DEL NOBEL</span>
    </header>
{% endif %}
