---
title: "¿Qué lauread@ del Nobel de la Paz eres? - Nobel SMMUN 2025"
layout: "base.njk"
---

<section id="cover">
    <article id="laureado">
        <h1>
            ¿Qué lauread@ del Nobel de la Paz eres?
        </h1>
        <p>
            Cuéntanos sobre tí y descubre si eres tan influyente como
            <br>
            la Cruz Roja o tan inspiradora como Malala Yousafzai? 
        </p>
        <p id="haz-click">
            ¡Haz click en empezar y descúbrelo!
        </p>
        <a href="/test" id="empezar-button">
            <div>
                Empezar
            </div>
        </a>
    </article>
</section>
