---
title: "Pregunta 1 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 1, "Soy una persona...", [
    ["Solidaria", "CR"],
    ["Pacífica", "AGR"],
    ["Valiente", "MY"],
    ["Resiliente", "RM"],
    ["Líder", "MLK"]
] %}
