---
title: "Pregunta 2 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 2, "Lo que más me molesta de las demás personas es...", [
    ["Que sean injustas", "MLK"],
    ["Que discriminen", "RM"],
    ["Que no me escuchen", "MY"],
    ["Que sean egoístas", "CR"],
    ["Que argumenten de forma incoherente", "AGR"]
] %}
