---
title: "Pregunta 3 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 3, "¿Qué pan dulce prefieres?", [
    ["Mantecada", "CR"],
    ["Dona", "MLK"],
    ["Oreja", "RM"],
    ["Concha", "MY"],
    ["Pan de muerto", "AGR"]
] %}
