---
title: "Pregunta 4 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 4, "¿Cúal color prefieres?", [
    ["Rojo", "CR"],
    ["Amarillo", "MLK"],
    ["Azul", "RM"],
    ["Morado", "MY"],
    ["Verde", "AGR"]
] %}
