---
title: "Pregunta 5 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 5, "¿Cuál de estas áreas te interesa más?", [
    ["Salud", "CR"],
    ["Derecho", "MLK"],
    ["Relaciones internacionales", "AGR"],
    ["Educación", "MY"],
    ["Antropología", "RM"]
] %}
