---
title: "Pregunta 6 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 6, "¿Cuál actividad prefieres?", [
    ["Leer", "MY"],
    ["Ir al cine", "CR"],
    ["Escuchar música", "MLK"],
    ["Viajar", "AGR"],
    ["Bailar", "RM"]
] %}
