---
title: "Pregunta 7 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 7, "Si pudieras tener un superpoder, ¿cuál sería?", [
    ["Telepatía", "MY"],
    ["Superfuerza", "MLK"],
    ["Telequinesis", "AGR"],
    ["Volar", "RM"],
    ["Curación instantánea", "CR"]
] %}
