---
title: "Pregunta 8 - Nobel SMMUN 2025"
layout: "base.njk"
---

{% pregunta 8, "¿Cuál de estas frases te llama más la atención?", [
    ["", "CR"],
    ["", "MLK"],
    ["", "RM"],
    ["", "MY"],
    ["", "AGR"]
] %}
